* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    padding-top: 50px;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    display: flex;
}

.jumbotron{
    padding: 40px;
    background: rgb(196, 196, 196, 0.2);
}
