<!DOCTYPE html>
<html>
    <%- include('../partials/head') %>

    <body class="container">
        <%- include('../partials/header', { pagina: 'sobre' }) %>

        <main>
            <div class="jumbotron">
                <h1>About Me</h1>
                <p>Nothing my friend! Cya</p>
            </div>
        </main>

        <%- include('../partials/footer') %>
    </body>
</html>